.background {
    background-color: none;
    background-repeat: none;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.friends {
    height: 400px;
    width: 1800px;
    position: top;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}
.title {
    color: white;
    text-align: center;
    font-size: 100px;
}
.paragraph {
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
.creators {
    color: white;
    text-align: center;
  }
  .creatorNames {
    color: white;
    text-align: center;
  }
  .bold {
      font-size: 20px;
  }
  .creatorNames:hover {
    background-color: #B48BF3;
  }
  .creatorNames1:hover {
    background-color: #B48BF3;
  }
  .creatorNames2:hover {
    background-color: #B48BF3;
  }
  .creatorNames3:hover {
    background-color: #B48BF3;
  }
  