.UserPreferences {
  margin-top: 5em;
  background: none;
  font: arial;
}
.button {
  margin: 0 1em;
  background: none;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
  border: none;
  color: black;
  transition: 0.6s all;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em;
  min-width: 70px;
  border-radius: 8px;
}
.checkbox-valley {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.pane1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
